* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}

.fa-brands {
	font-size: 32px;
	color: #2563eb;
}

/* Nav */
nav {
	margin: 20px 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#nav-item-container {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 15px;
}

a {
	text-decoration: none;
	color: #575757;
}

#cta-button {
	width: 192px;
	height: 56px;
	color: white;
	padding: 4px;
	background: #1d4ed8;
	border-radius: 12px;
	font-weight: bold;
	border: none;
}

/* Hero */
#hero {
	background-image:
		linear-gradient(to right, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.3)),
		url("../assets/banner.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 90vh;
	background-size: cover;
	background-position: center;
	color: white;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
}

#hero_header {
	font-size: 80px;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 25px;
}

#hero_description {
	width: 50%;
	height: 108px;
	text-align: center;
	font-size: 22px;
	margin: 10px auto;
}

#hero_cta {
	width: 282px;
	height: 74px;
	border-radius: 10px;
	background: #1d4ed8;
	padding: 12px;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: white;
	border: none;
	display: block;
	margin: auto;
}

/* Speaker */
#speaker {
	width: 90vw;
	margin: 80px auto;
}

.section_title {
	font-size: 56px;
	color: #000102;
	text-align: center;
	margin-bottom: 56px;
}

#speaker_card_container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 32px;
	padding: 0 60px;
}

.sp_card {
	border-radius: 12px;
	border: 1px solid #e5e7eb;
}

.sp_img {
	width: 100%;
	border-radius: 12px 12px 0 0;
}

.sp_info {
	margin: 24px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.specialty {
	color: #2563eb;
	font-size: 12px;
	font-weight: 600;
}

.sp_info h2 {
	color: #0d1b2a;
	font-size: 20px;
	font-weight: bold;
}

.sp_info p {
	color: #575757;
	font-size: 14px;
	font-weight: 400;
}

/* Secure Spot */
#secure_spot {
	width: 85vw;
	margin: 0 auto;
	padding: 0 60px 80px;
	text-align: center;
}

#secure_spot_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ss_title {
	color: #0d1b2a;
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 10px;
}

.ss_description {
	color: #575757;
	font-weight: normal;
	font-size: 16px;
}

/* pricing */
#pricing_card_container {
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 24px;
	/* flex-wrap: wrap; */
	margin: 0 auto;
	max-width: 1000px;
	padding-top: 48px;
}

.price_card {
	width: 444px;
	padding: 32px;
	background-color: #ffffff;
	border: 1px solid #e5e7eb;
	border-radius: 12px;
	padding: 32px;
	width: 300px;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.plan_name {
	color: #888888;
	font-size: 13px;
	font-weight: 600;
}

.price {
	font-size: 44px;
	font-weight: bold;
	color: #0d1b2a;
}
.price_description {
	color: #888888;
	font-size: 13px;
	font-weight: 400;
}

.price_card ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 14px;
	color: #333333;
	font-weight: normal;
}

.price_card li::marker {
	color: #2563eb;
}

.price_btn {
	width: 305px;
	height: 45px;
	border-radius: 8px;
	padding: 11px 107px;
}

.stand_btn {
	color: #2563eb;
	border: 1px solid #2563eb;
	background: white;
}

.dark {
	background: #0d1b2a;
}

.dark .plan_name {
	font-size: 13px;
	font-weight: 600;
	color: #93c5fd;
}

.dark .price {
	color: white;
}

.dark ul {
	color: white;
}

.pro_btn {
	background: #2563eb;
	color: white;
	border: none;
}

.team_btn {
	background: white;
	border: 1px solid #0d1b2a;
}

/* Footer */
footer {
	background: #0d1b2a;
	padding: 56px 105px 32px;
}

.upper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 50px;
}

.social_icon {
	display: flex;
	align-items: center;
	gap: 15px;
}

.lower {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	font-size: 16px;
	font-weight: normal;
	margin-top: 10px;
}

.footer_nav {
	display: flex;
	gap: 15px;
}

/* Secure Spot Section */

.registration-section {
	padding: 80px 20px;
	background-color: #eef0f3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.registration-container {
	width: 100%;
	max-width: 650px;
}

.registration-card {
	background-color: #ffffff;
	border-radius: 12px;
	padding: 50px 60px;
	box-shadow:
		0 10px 25px -5px rgba(0, 0, 0, 0.05),
		0 8px 10px -6px rgba(0, 0, 0, 0.01);
}

.registration-header {
	text-align: center;
	margin-bottom: 40px;
}

.registration-header h2 {
	color: #111827;
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 10px;
}

.registration-header p {
	font-size: 15px;
	color: #4b5563;
}

.registration-form {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.form-row {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.two-col {
	flex-direction: row;
	gap: 20px;
}

.form-group {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.form-group label {
	font-size: 11px;
	font-weight: 700;
	color: #4b5563;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-bottom: 8px;
}

.form-group input,
.form-group select,
.form-group textarea {
	width: 100%;
	padding: 14px 16px;
	font-size: 15px;
	color: #111827;
	background-color: #ffffff;
	border: 1px solid #d1d5db;
	border-radius: 6px;
	font-family: inherit;
	transition: border-color 0.3s ease;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
	color: #9ca3af;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
	outline: none;
	border-color: #93c5fd;
}

.form-group select {
	background-repeat: no-repeat;
	background-position: right 16px top 50%;
	background-size: 10px auto;
	cursor: pointer;
}

.form-group textarea {
	resize: vertical;
	min-height: 100px;
}

.btn-submit {
	width: 100%;
	background-color: #2563eb;
	color: #ffffff;
	border: none;
	border-radius: 6px;
	padding: 16px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	cursor: pointer;
	margin-top: 10px;
	transition: background-color 0.3s ease;
	box-shadow: 0 4px 6px -1px rgba(4, 108, 78, 0.2);
}
.btn-submit:hover {
	background-color: #3b82f6;
}

.secure-payment-note {
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	color: #6b7280;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 15px;
}

/* Highlight Section */
.gallery-section {
	background-color: #0b1120;
	padding: 80px 20px;
}

.gallery-container {
	max-width: 1100px;
	margin: 0 auto;
}

.gallery-title {
	text-align: center;
	color: #ffffff;
	margin-bottom: 40px;

	font-size: 48px;
	font-weight: bold;
}

.gallery-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 230px;
	gap: 16px;
}

.gallery-item {
	background-color: #1e293b;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #1f2937;
	display: flex;
}

.gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.item-large {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.item-small-1 {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

.item-small-2 {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
}

.item-wide {
	grid-column: 3 / 5;
	grid-row: 2 / 3;
}

/* Testimonial */
.testimonials-section {
	padding: 80px 20px;
	background-color: #ffffff;
}

.testimonials-container {
	max-width: 1100px;
	margin: 0 auto;
}

.testimonials-title {
	text-align: center;
	margin-bottom: 50px;
	color: #0d1b2a;
	font-size: 48px;
	font-weight: bold;
}

.testimonials-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
}

.testimonial-card {
	background-color: #ffffff;
	border: 1px solid #e2e8f0;
	border-radius: 12px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.02),
		0 2px 4px -1px rgba(0, 0, 0, 0.02);
}

.testimonial-quote {
	font-size: 15px;
	color: #475569;
	font-style: italic;
	line-height: 1.6;
	margin-top: 0;
	margin-bottom: 30px;
}

.testimonial-author {
	display: flex;
	align-items: center;
	gap: 12px;
}

.author-avatar {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	object-fit: cover;
	background-color: #cbd5e1;
}

.author-info {
	display: flex;
	flex-direction: column;
}

.author-info h4 {
	margin: 0 0 4px 0;
	font-size: 14px;
	font-weight: 700;
	color: #0f172a;
}

.author-info span {
	margin: 0;
	font-size: 12px;
	color: #94a3b8;
}

/* FAQ */
.faq-section {
	padding: 80px 20px;
	background-color: #f8fafc;
	display: flex;
	justify-content: center;
}

.faq-container {
	width: 100%;
	max-width: 950px;
}

.faq-title {
	text-align: center;
	margin-top: 0;
	margin-bottom: 60px;
	color: #0d1b2a;
	font-size: 48px;
	font-weight: bold;
	/* margin-bottom: 10px; */
}

.faq-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 60px;
	row-gap: 40px;
}

.faq-item {
	display: flex;
	flex-direction: column;
}

.faq-item h3 {
	font-size: 17px;
	color: #1e293b;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 12px;
}

.faq-item p {
	font-size: 15px;
	color: #64748b;
	line-height: 1.6;
	margin: 0;
}

/* CTA */
.cta-section {
	background-color: #0b1120;
	padding: 100px 20px;
	text-align: center;
}

.cta-container {
	max-width: 800px;
	margin: 0 auto;
}

.cta-section h2 {
	color: #ffffff;
	font-size: 46px;
	font-weight: 800;
	margin-top: 0;
	margin-bottom: 24px;
	letter-spacing: -1px;
}

.cta-section p {
	color: #94a3b8;
	font-size: 18px;
	line-height: 1.6;
	margin: 0 auto 40px auto;
	max-width: 650px;
}

.btn-register-glow {
	display: inline-block;
	background-color: #2563eb;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	padding: 16px 40px;
	border-radius: 6px;
	box-shadow: 0 4px 20px rgba(59, 130, 246, 0.4);
	transition:
		background-color 0.2s,
		box-shadow 0.2s;
}

.btn-register-glow:hover {
	background-color: #3b82f6;
	box-shadow: 0 6px 25px rgba(59, 130, 246, 0.6);
}
